@font-face {
    font-family: my;
    src: url(Futura\ Display\ BQ\ Regular.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: my;
}

html,
body {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    overflow: hidden;
}

.para {
    line-height: 500px;
    position: absolute;
    z-index: 0;
    font-size: 550px;
    text-align: center;
    /* text outline */
    -webkit-text-stroke: 5px rgba(255, 255, 255, 0);

    /* apply conic gradient to text */
    background: conic-gradient(from var(--circles),
            rgb(0, 0, 0) 25%,
            rgb(5, 223, 147) 50%,
            rgb(0, 0, 0) 25%);

    -webkit-background-clip: text;
    animation: animateCircle 4s linear infinite;
    /* display: none; */
}

.box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    overflow: hidden;
    height: 600px;
    width: 350px;
    border-radius: 20px;
    padding: 0px;
    box-shadow: 0px 0px 0px 0px rgba(5, 143, 94, 0.792);
    animation: animateCircle 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background:
        linear-gradient(rgb(2, 38, 25)) padding-box,
        conic-gradient(from var(--circles), rgb(2, 36, 24), rgb(2, 36, 24), rgb(5, 223, 147), rgb(2, 36, 24), rgb(2, 36, 24)) border-box;
    z-index: 1;
    border: 0px solid rgba(2, 38, 25, 0);
    transition: all .4s ease-in-out;
    border-width: 0px;
}

.box:hover {
    box-shadow: 0px 0px 300px 20px rgba(5, 143, 94, 0.792);
    border-width: 5px;
    padding: 8px;
}

.box:hover .para {
    /* display: block; */

}



.box>img {
    width: 100%;
    height: 50%;
    border-radius: 11px;
    object-fit: cover;
    object-position: center;
    border-bottom: 1px solid rgb(5, 223, 147);
    border-top: 1px solid rgb(5, 223, 147);
}

.box p,
.box h2 {
    text-align: center;
    font-weight: 200;

}

.box h2 {
    padding-top: 20px;
    font-size: 40px;
    color: rgb(5, 223, 147);
    text-shadow: 0px 0px 20px rgba(5, 223, 147, 0.563);
}

.box p {
    -webkit-text-stroke: .25px rgb(255, 255, 255);
    text-shadow: 0px 0px 20px rgba(5, 223, 147, 0.24);
    font-weight: 100;
    font-size: 18px;
    text-align: justify;
    padding: 20px 10px;
}

@property --circles {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes animateCircle {
    from {
        --circles: 0deg;
    }

    to {
        --circles: 360deg;
    }
}