@font-face {
    font-family: my;
    src: url(Futura\ Display\ BQ\ Regular.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: my;
}

html,
body {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}

main>p {
    /* text-align: center; */

    opacity: 0.7;
    position: absolute;
    color: rgba(177, 8, 8, 0);
    z-index: 0;
    font-size: 500px;
    -webkit-text-stroke: .8px rgb(255, 255, 255);
    background: radial-gradient(50px, rgba(233, 38, 38, 0), rgb(2, 36, 24));


}

.box {
    height: 600px;
    width: 350px;
    background-color: rgb(2, 36, 24);
    border-radius: 20px;
    padding: 7px;
    box-shadow: 0px 0px 250px 20px rgba(5, 143, 94, 0.792);
    animation: animateCircle 4s linear infinite;
    background:
        conic-gradient(from var(--circles), rgb(2, 36, 24), rgb(2, 36, 24), rgb(5, 223, 147), rgb(5, 223, 147), rgb(2, 36, 24), rgb(2, 36, 24)) padding-box;
    position: relative;
}

.inner {
    background: rgb(2, 36, 24);
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 15px;

}

.inner>img {
    width: 100%;
    height: 50%;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
    border-bottom: 1px solid rgb(5, 223, 147);
    border-top: 1px solid rgb(5, 223, 147);
}

.inner p,
.inner h2 {
    text-align: center;
    font-weight: 200;
    padding: 10px;
}

.inner h2 {
    font-size: 40px;
    color: rgb(5, 223, 147);
    text-shadow: 0px 0px 20px rgba(5, 223, 147, 0.563);
}

.inner p {
    -webkit-text-stroke: .25px rgb(255, 255, 255);
    text-shadow: 0px 0px 20px rgba(5, 223, 147, 0.24);
    /* text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.382); */
    font-weight: 100;
    font-size: 18px;
    text-align: justify;
}

@property --circles {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes animateCircle {
    from {
        --circles: 0deg;
    }

    to {
        --circles: 360deg;
    }
}